<!-- <mat-card>
    <form [formGroup]="recoverForm" (ngSubmit)="submit()">
      <mat-card-content>
        <img
          mat-card-image
          src="https://www.freelogoservices.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6khvSBrBdMnR7IwXs1M3EMoAJtliItgPtq9fo8"
        />
        <div>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput />
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="hasErrors('email')"></mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Recuperar</button>
        <a mat-raised-button color="basic" routerLink="/security/login">Cancelar</a>
      </mat-card-actions>
    </form>
  </mat-card>
   -->
