<form *ngIf="state === 1" [formGroup]="form">
  <vaadin-progress-bar indeterminate value="0" *ngIf="isLoading"></vaadin-progress-bar>
  <vaadin-form-layout>
    <p class="title">Preencha o formulário de cadastro!</p>
    <div class="form-field" colspan="2">
      <label class="label">Em qual perfil você se encaixa?</label>
      <ng-select
        [searchable]="false"
        [clearable]="false"
        [items]="userTypeList"
        bindLabel="description"
        bindValue="id"
        formControlName="userType"
      >
      </ng-select>
    </div>
    <div colspan="2" class="form-field" *ngIf="userTypeControl?.value > 1">
      <label class="label">Selecione um tipo de trabalho</label>
      <ng-select
        [items]="(workTypes$ | async) || []"
        bindLabel="name"
        bindValue="id"
        [hideSelected]="true"
        [trackByFn]="trackByFn"
        [minTermLength]="3"
        [loading]="isWorkTypeLoading"
        typeToSearchText="Busque e selecione um tipo de trabalho"
        [typeahead]="workTypeInput$"
        formControlName="workTypeId"
      >
      </ng-select>
    </div>
    <vaadin-text-field
      colspan="2"
      formControlName="name"
      required
      error-message="Insira um valor válido"
      label="Nome"
      clear-button-visible
      ngDefaultControl
    ></vaadin-text-field>
    <vaadin-email-field
      colspan="2"
      formControlName="email"
      required
      error-message="Insira um valor válido"
      label="Email"
      clear-button-visible
      ngDefaultControl
    ></vaadin-email-field>
    <vaadin-button colspan="2" ngDefaultControl (click)="submit()" theme="primary" [disabled]="!isFormValid">
      Enviar
    </vaadin-button>
  </vaadin-form-layout>
</form>
<div *ngIf="state === 2" class="success">
  <h2>Quase lá!</h2>
  <p>
    Enviamos um email para <b>{{ form.get('email')?.value }}</b> com as instruções necessárias para finalizar seu
    cadastro.
  </p>
  <vaadin-button ngDefaultControl (click)="submit()" theme="primary" (click)="goToLogin()">
    Ir para tela de login
  </vaadin-button>
</div>
