<!-- <form [formGroup]="loginForm">
    <vaadin-progress-bar indeterminate value="0" *ngIf="isLoading"></vaadin-progress-bar>
    <vaadin-form-layout>
      <vaadin-email-field
        colspan="2"
        formControlName="email"
        required
        error-message="Insira um valor válido"
        label="Email"
        clear-button-visible
        ngDefaultControl
      ></vaadin-email-field>
      <vaadin-password-field
        colspan="2"
        formControlName="password"
        label="Senha"
        requiredclear-button-visibleerror-message="Insira um valor válido"
        ngDefaultControl
      ></vaadin-password-field>
      <vaadin-button colspan="2" ngDefaultControl (click)="submit()" theme="primary" [disabled]="!isFormValid">
        Entrar
      </vaadin-button>
    </vaadin-form-layout>
  </form>
   -->
