@import '~ngx-toastr/toastr';
@import '~@ng-select/ng-select/themes/default.theme.css';

html {
  // background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
}

html,
body {
  margin: 0;
  height: 100%;
}
body {
  // margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.ngx-toastr {
  font-family: var(--lumo-font-family) !important;
}

.ng-select-container {
  background-color: #e8ebef !important;
  font-family: var(--lumo-font-family) !important;
  .ng-value {
    font-weight: 500;
    color: rgba(24, 39, 57, 0.94);
  }
}

.ng-option {
  font-family: var(--lumo-font-family) !important;
}

.label,
.title {
  font-family: var(--lumo-font-family) !important;
  align-self: flex-start;
  color: var(--lumo-secondary-text-color);
  font-weight: 500;
  font-size: var(--lumo-font-size-s);
  margin-left: calc(var(--lumo-border-radius-m) / 4);
  transition: color 0.2s;
  line-height: 1;
  padding-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  display: block;
}

.title {
  margin: 0;
  border-bottom: 1px solid #e8ebef;
  width: 100% !important;
  font-size: 20px;
}

.form-field {
  padding-top: 16px;
  padding-bottom: 4px;
}
